.article-container {
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 30px;
  margin-top: 2rem;
  font-size: 1.2rem;
}


@media only screen and (max-width: 768px) {
  .article-container {
    margin-left: 0;
    margin-right: 0;
    padding-top: 30px;
    width: 100%;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  
}

@media only screen and (min-width: 1500px) {
  .article-container {
    width: 868px;
    font-size: 1.32rem;
  }
  
}