.trending-article {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }

.trending-article:hover {
    color: blue;
}

.recent-article-box {
  border-radius: 20px;
  background-color: #b3b3b3;
}


.recent-article-link {
  margin-bottom: 10px;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;  
  font-weight: bold;

}

.recent-article-link:hover {
  color: black;
  transition: 1s;
}


.recent-article-box:hover {
  border: 2px solid black;
}